/**************************login bg********************************/

.login-min-height {
    min-height: 522px;
}

.banner {
    position: relative;
    height: 600px;
}

.banner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 0;
}

.loginbox {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 0;
    pointer-events: none;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.loginbox>div {
    width: 360px;
    background-color: #fff;
    float: right;
    pointer-events: auto;
    margin-top: 20px;
    padding-bottom: 67px;
}

.loginbox .login {
    width: 250px;
    height: 380px;
    margin: 21px 55px 0;
}

.loginbox .login .cf {
    line-height: 18px;
    margin-bottom: 55px;
}

.loginbox .login .cf>i {
    display: block;
    width: 97px;
    height: 1px;
    background: #ccc;
    margin-top: 9px;
}

.login .cf>span {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #787d6a;
}

.login .cf>i,
.login .cf>span {
    float: left;
}

.loginbox a {
    color: #787d6a;
}

.login .l-title {
    text-align: center;
    margin-bottom: 32px;
}

.l-title label {
    padding: 5px 0;
    cursor: pointer;
    font-size: 1rem;
}

.l-title label:active,
.l-title label:focus,
.l-title label.active {
    color: #45483d;
    border-bottom: 2px solid #bae71e;
}

.l-input .border-bm {
    padding: 0.678614em 0;
    border-right: none;
    border-left: none;
    border-top: none;
}

.l-input input {
    width: 250px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}

.l-input input[placeholder] {
    padding-left: 10px;
}

.l-input input[type="text"]:focus,
.l-input input[type="password"]:focus {
    border-bottom: 1px solid #bae71e;
}

.l-input {
    display: none;
}

.l-input>form>div {
    position: relative;
}

.l-input .icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
}

.l-input .username {
    margin-bottom: 22px;
}

.l-input .tip {
    font-size: 12px;
    color: #de5c0f;
    padding: 10px 0 0 2px;
    display: block;
}

.help {
    padding: 20px 0 20px 0;
}

.help .checkbox>.labcolor {
    color: #787d6a;
}

.help>a {
    margin-left: 54px;
}

.l-input .help label:before {
    border-color: #6e8e00;
}

.l-input .password {
    position: relative;
}

.l-input .verycode {
    position: absolute;
    right: 0;
    top: 8px;
}

.log>button {
    width: 250px;
    height: 35px;
}

.register {
    text-align: right;
    margin-top: 15px;
}

.register .reg {
    color: #6e8e00;
}

.tab:checked:nth-of-type(1) ~ .l-input:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .l-input:nth-of-type(2) {
    display: block;
}

.tab:checked:nth-of-type(1) ~ .l-title>label:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .l-title>label:nth-of-type(2) {
    color: #45483d;
    border-bottom: 2px solid #bae71e;
}


/**************************login end********************************/
