/* home style */

@import '../../public/sass/globle.scss';
.icon.focus-color {
    color: #6e8e00 !important;
}

.main-color {
    color: #6e8e00 !important;
}

.mian-font-color {
    color: #45483d !important;
}

.sub-font-color {
    color: #787d6a !important;
}

.fz16b {
    font-size: 1.142857142857143rem;
    font-weight: bold;
}

.fzroot {
    font-size: 1rem !important;
    font-weight: normal !important;
}

.mt15 {
    margin-top: 1.071428571428571em !important;
}

.pt15 {
    padding-top: 1.071428571428571em !important;
}

.pt20 {
    padding-top: 1.428571428571429em;
}

.pt30 {
    padding-top: 2.142857142857143em;
}

.pb30 {
    padding-bottom: 2.142857142857143em;
}

.uc-title {
    height: 70px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px
}

.uc-title>span {
    display: block;
    float: left;
    height: 70px;
    line-height: 70px;
    color: #787d6a
}

.uc-title>.my-center {
    width: 150px;
    text-align: center;
    background-color: #bae71e;
    font-size: 18px;
    color: #45483d
}

.my-centers {
    padding: 0 14px
}

.uc-conbox,
.uc-conbox>.conbox-l {
    background-color: #fafcf8
}

.uc-conbox>div {
    float: left
}

.uc-conbox>.conbox-l {
    width: 150px
}

.uc-conbox>.content-r {
    position: relative;
    width: 1050px;
    background-color: #fff;
}

.ui.breadcrumb.uc-bread {
    line-height: 70px;
    padding-left: 14px;
    color: #787d6a;
}

.conbox-l>ul {
    padding: 0.5357142857142857rem 0;
}

.conbox-l .list-name {
    text-align: center;
    line-height: 2.071428571428571rem;
    font-weight: bold;
}

.conbox-l .list-name,
.conbox-l a {
    display: block;
    text-align: center;
    color: #787d6a;
    line-height: 2.071428571428571rem;
    transition: all .2s ease 0s;
}

.uc-conbox .info-area {
    padding: 0 80px;
    margin: 50px 0;
    min-height: 400px;
}

.conbox-l .ul-active {
    background-color: #fff;
    position: relative;
    box-shadow: 3px 0 #bae71e inset;
    overflow: hidden;
}

.conbox-l a:hover {
    color: #6e8e00;
}

.conbox-l a:focus,
.conbox-l a:active {
    color: #6e8e00;
}

.conbox-l a:active {
    transform: translateY(.2px);
}

.conbox-l .ul-active a.active,
{
    color: #6e8e00;
}

.ul-active:after {
    position: absolute;
    left: 2px;
    top: 50%;
    content: " ";
    font-size: 0;
    border: 3px solid #bae71e;
    transform: rotate(45deg) translateX(-50%)
}

.info-area .ui.header {
    color: #45483d;
    margin-bottom: 30px;
}

.info-area .forms {
    width: 670px;
}

.forms dl {
    vertical-align: middle;
    clear: both;
    margin: 0 auto;
    color: #787d6a;
}

.forms dl::after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

.forms dl>dt,
.forms dl>dd {
    float: left;
    margin: 0;
    line-height: 3rem;
}

.forms dl>dt {
    width: 75px;
    color: inherit;
    text-align: left;
}

.forms dl>dd {
    width: 595px;
    text-align: left;
}

.forms .inputwidth {
    width: 200px !important;
}

.forms a {
    color: #6e8e00;
    padding: 0 8px
}

.field .inline.fields {
    margin: 0 !important;
}

.middle-container {
    font-size: 0;
}

.middle-container:before {
    content: '';
    display: inline-block;
    height: 100% !important;
    vertical-align: middle;
    margin-right: -0.25em;
}

.middle-content {
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    font-size: 1rem;
}

.centeraligend {
    text-align: center;
}

.forms .input .icon {
    z-index: 1;
}

.avator {
    position: absolute;
    top: 100px;
    right: 80px;
    width: 150px;
}

.avator img {
    width: 100%;
    max-height: 150px;
}

.view-panel {
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 45px;
}

// .avator-modal .view-image img {
//     display: block;
// }
.avator-modal .view-image {
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    min-height: 320px;
}

.avator-modal .explanition {
    font-style: normal;
    color: #666;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 10px;
}

.tac {
    text-align: center !important;
}

.avator-modal .preview-area {
    position: absolute;
    width: 525px;
    left: 105%;
}

.avator-modal .preview-container {
    overflow: hidden;
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.avator-modal .preview-container.prev1 {
    width: 150px;
    height: 150px;
}

.avator-modal .preview-container.prev2 {
    width: 75px;
    height: 75px;
}

.avator-modal .preview-container.prev3 {
    width: 50px;
    height: 50px;
}

.avator-modal .area-item {
    float: left;
    margin: 0 15px;
    padding: 6px;
}

.jcrop-keymgr {
    visibility: hidden !important;
}

.avator-modal .view-image .speci-message {
    position: absolute;
    bottom: 0.5rem;
    right: 1.5rem;
}

.avator-modal .view-image .inverted.dimmer {
    display: none;
}

.upload-id-pic .idpic {
    float: left;
    position: relative;
    width: 230px;
    height: 230px;
    background-color: $page-bg-color;
    margin-right: 62px;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 1px 4px #999;
    overflow: hidden;
}

.upload-id-pic .idpic:hover span.button.green {
    visibility: visible;
}

.idpic span.button.green {
    visibility: hidden;
}

.upload-id-pic .idpic:last-child {
    margin-right: 0;
}

.upload-id-pic .idpic img {
    position: absolute;
    width: 98%;
    width: calc(100% - 6px);
    bottom: 0;
}

.upload-id-pic .identify {
    text-align: center;
}

.upload-id-pic .idpic span.button.green,
.upload-id-pic .identify {
    z-index: 1;
}

.defined-width {
    width: 814px !important;
}

.poscenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.special-dl-width {
    width: 932px;
}

.conform-info {
    width: 450px !important;
    height: 230px !important;
    margin-left: -225px !important;
}

.bankcard-box {
    padding: 45px 20px;
    background-color: #f2f6f8;
}

.card-item {
    float: left;
    width: 268px;
    height: 158px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px #ccc;
}

.card-item:nth-child(3n-1) {
    margin-left: 20px;
    margin-right: 20px;
}
